body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* display: block; */
}

#navigation {
    height: 5%;
}

#editor {
    height: 95%;
}

#text-editor {
    margin: 0;
    float: left;
    width: 50%;
    height: 100%;
}

#html-display {
    margin: 0;
    float: right;
    width: 50%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

#input {
    width: 100%;
    height: 100%;
}