body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.15);
    /* display: block; */
}

#editor-background {
    padding: 0;
    margin-top: 0;
}

#editor {
    display: none;
    padding: 0;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    height: 95%;
}

#text-editor {
    margin: 0;
    float: left;
    width: 50%;
    height: 100%;
}

#html-display {
    margin: 0;
    float: right;
    width: 50%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

#input {
    width: 100%;
    height: 100%;
}

/* IFRAME ^^ */

.background-box {
    background-color: rgba(0, 0, 0, 0.05);
}

#background-img {
    margin: 0;
    background-image: url("/res/img/mountain.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 80%;
    z-index: -1;
}

#start-button {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    top: 0;
    z-index: 1;
}

#editor-title p {
    font-family: sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

#editor-intro {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    float: center;
    position: center;
    text-align: center;
    padding: 0;
}

#editor-content p {
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    float: center;
    display: block;
}

#editor-content {
    text-align: center;
    float: center;
    display: block;
}

#main-editor {
    display: block;
}

#filler {
    height: 35%;
}

