* {
    font-family: sans-serif;
}

body {
    width: 100vw;
    /* height: 100vh; */
    margin: 0;
    /* display: block; */
    background-color:rgba(0, 0, 0, 0.05);
}

/* =================================== OVERLAY =================================== */
#overlay {
    display: none;
    position: absolute;
    width: 100%;
    /* height: 95%; */
    height: 150%;
    top: 5%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0;
}
/*  NEW QUESTION  */
#new-top-space {
    height: 4vh;
}

#new-container {
    margin: 0 auto;
    top: 5%;
    width: 75%;
    height: 90vh;
    text-align: center;
}

#question-creation {
    background-color: rgba(0, 0, 0, 0.75); 
    padding: 5%;
    height: 80%;
}

#new-question-text {
    color: white;
    margin: 0;
    padding-bottom: 3%;
}

#newquestioncontent {
    width: 85%;
    height: 70%;
}

#newquestiontitle {
    width: 85%;
    /* height: 80%; */
}

#question-input p {
    color: white;
    margin: 0;
}
/*  NEW QUESTION  */

#post-top-space {
    height: 2.5%;
}

#post-container {
    margin: 0 auto;
     position: fixed; 
     left: 12.5%; 
    /*  nav height (5) + space from nav (5)  */
    top: 10%;
    width: 75%;
    /* height: 95%; */
    height: 75vh;
    text-align: center;
    word-wrap: break-word;
}

.post-item {
    background-color: rgba(0, 0, 0, 0.65); 
    max-height: 40%;
    overflow-y: scroll;
    /* padding: 1%; */
}

#overlay-question {
    color: white;
    margin-top: 0;
    padding-top: 1%;
}

#overlay-content {
    color: white;
    margin-bottom: 0px;
}

.answer-content {
    color: white;
    padding: 1%;
     margin-bottom: 0px; 
     padding-bottom: 0px;
    /* padding-top: 1%; */
}

.answer-item {
    background-color: rgba(0, 0, 0, 0.65); 
    /* padding: 1%; */

}

#answer-area {
    overflow-y: scroll;
    max-height: 40vh; 
    margin-top: 1%;
}

#answer-creation {
    /* overflow-y: scroll; */
     /* height: 10vh;  */
     margin-top: 1%;
}

#new-answer {
    width: 100%;
    height: 9vh;
}

#current-question-id {
    display: none;
}

/* =================================== OVERLAY =================================== */


/* =================================== POSTS =================================== */
.q {
    color: #A7226E;
}

.box {
    margin: auto;
    width: 80%;
}

hr {
    margin: 0;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
}

.ask {
    /* float: right; */
    display: block;
    margin-top: 6%;
    background-color: white;
    border-style: solid;
    border-color: #A7226E;
    border-width: 2px;
    width: 100%;
    height: 20%;
    cursor: pointer;
}

.ask p {
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #A7226E;
}

.ask img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    display: block;
}

.container {
    width: 101%;
    max-height: 60vh;
    overflow-y: scroll;
    /* background-color: white; */
    width: 100%;
    /* margin-top: 200px; */
    /* border-style: solid; */
    /* border-color: rgba(0, 0, 0, 0.2); */
    /* border-width: 1px; */
    /* text-align: center; */
}
#your-question-h2 {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}

#your-question-h2 {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}

/*
.ask {
    margin: auto;
    background-color: white;
    width: 50%;
    height: 70%;
    visibility: collapse;
}
*/



.question {
    float: right;
    display: block;
    background-color: white;
    margin-left: 0px;
    background-color: rgba(255, 255, 255);
    width: 100%;
    padding: 1px;
    /* height: 30%; */
    margin-bottom: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    word-wrap: break-word;
}

.question h1{
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 12px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 0px;
}

.recent {
    width: 70%;
    float: left;
    display: block;

}

.yours {
    width: 23%;
    display: block;
    float: right;

}

.visiblequestion {
    visibility: visible;
}

.yourquestion {
     background-color: white; 
    padding: 0.5%;
    margin-bottom: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    /* float: right; */
    display: block;
    width: 100%;
    color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 12px;
    word-wrap: break-word;
}

#question-text {
    background-color: transparent;
}

.question-list-author {
    float: right; 
    text-align: right;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0px;
}

.question-list-date {
    float: left; 
    text-align: left;
    font-size: 9px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0px;
    padding-top: 5px;
}

#question-author {
     float: right; 
    text-align: right;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
     margin: 0px; 

}

.answer-author {
     float: right; 
    text-align: right;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
     margin: 0px; 
}

#question-date {
    text-align: left;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0px;
     padding-top: 3px; 
}

.answer-date {
    /* float: left;  */
    text-align: left;
    font-size: 9px;
    /* color: rgba(0, 0, 0, 0.5); */
    color: rgba(255, 255, 255, 0.5);
    margin: 0px;
     padding-top: 5px; 
}

/* =================================== POSTS =================================== */

.background-img {
    background-image: url("/res/img/ocean.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 80%;
    z-index: -1;
}

#start-button {
    margin: 0;
    padding: 0;
    text-align: center;
    top: 0;
    z-index: 1;
}

#intro-title {
    font-family: sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

#share-intro {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    float: center;
    position: center;
    text-align: center;
    padding: 0;
}

#intro-content p{
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    float: center;
    display: block;
}

#intro-content {
    text-align: center;
    float: center;
    display: block;
}

#share-main-menu {
    display: block;
}

#forum {
    display: none;
}

.background-box {
    background-color:rgba(0, 0, 0, 0.05);
}



/* MAIN MENU */