body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* display: block; */
}

.submissionfield {
    width: 40%;
    height: 50%;
    padding: 3%;
    border: 1px solid;
}

form {
    text-align: center;
}

.title {
    font-weight: bold;
    color: white;;
    font-size: 30px;

}

.customLink {
    visibility: visible;
}

.container {
    margin-top: 9%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.90);
    width: 75%;
    height: 60%;
}

textarea {
    width: 80%;
    height: 65%;
}

.background {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
}

p {
    color: white;
}

.title {
    padding-top: 2%;
}

.right-textbox {
    margin: 3%;
    margin-right: 0;
    float: right;
    position: block;
    width: 50%;
}

.background-img {
    background-image: url("/res/img/Amazing-night-sky.jpg");
    background-repeat: no-repeat;
    background-size: 100% 80%;
    width: 100%;
    height: 80%;
    z-index: -1;
}

#start-button {
    text-align: center;
    top: 0;
    z-index: 1;
}

#intro-title {
    font-weight: bolder;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

#share-intro {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    float: center;
    position: center;
    text-align: center;
    padding: 0;
}

#intro-content p{
    text-align: center;
    float: center;
    display: block;
}

#intro-content {
    text-align: center;
    float: center;
    display: block;
}

#code-share-hide {
    display: none;

}