body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* display: block; */
}

.submissionfield {
    width: 40%;
    height: 50%;
    padding: 3%;
    border: 1px solid;
}

form {
    text-align: center;
}

.title p {
    padding: 0;
    margin-top: 0;
    margin-left: 1%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    font-size: 25px;

}

.customLink {
    visibility: visible;
}

.container {
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    width: 75%;
    height: 60%;
}

textarea {
    text-align: left;
    width: 120%;
    height: 90%;
    margin-left: 0;
    padding: 0;
    margin: 0;
    float: left;
}

.background {
    background-color: rgba(0, 0, 0, 0.05);
    height: 100%;
    width: 100%;
}

form {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
}

p {
    color: white;
}

.customLink p {
    color: black;
}

.title {
    padding-top: 2%;
}

.right-textbox {
    margin-right: 0;
    /* change float and width on click */
    float: left;
    position: block;
    width: 70%;
}

.left-how-to {
    background-color: rgba(0, 0, 0, 0.2);
    margin-right: 4.5%;
    margin-top: 2.5%;
    float: right;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 0.5px;
    width: 25%;
    height: 27%;

}

#button-link {
    padding: 0;
    margin: 0;
}

/* MAIN MENU */
.background-img {
    background-image: url("/res/img/Amazing-night-sky.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 80%;
    z-index: -1;
}

#start-button {
    margin: 0;
    padding: 0;
    text-align: center;
    top: 0;
    z-index: 1;
}

#intro-title {
    font-weight: bolder;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

#share-intro {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    float: center;
    position: center;
    text-align: center;
    padding: 0;
}

#intro-content p{
    font-size: 20px;
    text-align: center;
    float: center;
    display: block;
}

#intro-content {
    text-align: center;
    float: center;
    display: block;
}

#share-main-menu {
    display: block;
}

#code-share-hide {
    display: none;
}

.background-box {
    background-color:rgba(0, 0, 0, 0.05);
}

