body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* display: block; */
}

.submissionfield {
    width: 40%;
    height: 50%;
    padding: 3%;
    border: 1px solid;
}

form {
    text-align: center;
}

.title {
    font-weight: bold;
    color: #A7226E;
    font-size: 30px;

}

.customLink {
    visibility: visible;
}