body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* display: block; */
}

#wiki {
    top: 5%;
    height: 95%;
    width: 100%;
}

#wiki-nav {
    height: 100%;
    width: 20%;
    float: left;
}

#wiki-content {
    height: 100%;
    width: 80%;
    float: right;
}