<html>
    <head>
        <title>HTML Editor</title>
        <link rel="stylesheet" href="/res/css/editor.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/res/js/editor.js"></script>
    </head>
    <body>
        <div id="navigation">TODO: Navigation</div>
        <div id="editor">
            <span id="text-editor">
                <!--  TODO: Use codemirror for text area  -->
                <textarea id="input"></textarea>
            </span>
            <span id="html-display">
                <iframe></iframe>
            </span>
        </div>
    </body>
</html>