<!DOCTYPE html>
<html>
    <head>
        <title>Noodle</title>
        <!-- Bootstrap -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="/res/css/index.css">
        <link rel="stylesheet" href="/res/css/parallax.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="res/js/nav.js"></script>
        <script src="res/js/index.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.28.0/codemirror.js"></script>
    </head>
    <body>
        <div class="parallax" id="flying-spaghetti"> </div>
        <div id="navigation">
            <!-- SPECIFIED IN BACKWARDS ORDER (so it can match up on right side)  -->
            {% if logged_in %}
                <span class="redirect-item hvr-bounce-in"><a class="redirect-text" href="{{logout_url}}" id="sign-in-redirect">{{user_nickname}}</a></span>
                <!-- TODO: Drop down to log out  -->
            {% else %}
                <span class="redirect-item hvr-bounce-in">
                    <a class="redirect-text" href="{{login_url}}" id="sign-in-redirect">Sign In</a>
                </span>
            {% endif %}
            <!-- TODO: Authentification  -->
            <span class="redirect-item hvr-bounce-in"><a class="redirect-text" href="/wiki" id="wiki-redirect">Wiki</a></span>
            <span class="redirect-item hvr-bounce-in"><a class="redirect-text" href="/editor" id="html-editor-redirect">HTML Editor</a></span>
            <span class="redirect-item hvr-bounce-in"><a class="redirect-text" href="/share" id="code-share-redirect">Code Share</a></span>
            <span class="redirect-item hvr-bounce-in"><a class="redirect-text" href="/questions" id="questions-redirect">Questions</a></span>
        </div>
        <div id="logo-upper-space">
            <!-- <button type="button" id="sign-in">Sign in</button> -->
        </div>
        <div id="logo">
            <script>renderNoodleLogo()</script>
        </div>
        <div id="logo-lower-space"></div>
        <div class ="about-section">
            <div id="about-title">
                <p>About the Creators</p>
            </div>
            <span id="Jenessa">
                <span class="image-circle">
                <img src="/res/img/image1.JPG" height ='200px' width: '200px'>
                </span>
                <span class="bio">
                    <p>Jenessa graduated from Bothell High School and will be attending the University of California -- 
                        Berkeley to study computer science and electrical engineering.
                    </p>
                </span>
            </span>
            <span id="Ivan">
                <span class="image-circle">
                <img src="/res/img/image1.PNG" height ='200px' width: '200px'>
                </span>
                <span class="bio">
                    <p>Ivan Montero graduated from Tahoma High School and will be attending the University of Washington -- 
                        Seattle to study computer science.
                    </p>
                </span>
            </span>
        </div>
    </body>
</html>