<!--  Test overlay  -->
<div id="post-top-space"></div>
<div id="post-container"> 
    <div class="post-item not-redirectable">
        <h1 id="overlay-question">Q: {{ question }}</h1>
        <p id="overlay-content">{{ content }}</p>
    </div> 
    <!--  TODO: create div item for all answers  -->
    <div id="answer-area" class="not-redirectable">
        {% for answer in answers %}
        <div class="answer-item">
            <p id="answer-content">{{ answer.content }}</p>
        </div>
        {% endfor %}
    </div>
</div>