<html>
    <head>
        <title>Questions</title>
        <link rel="stylesheet" href="/res/css/questions.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/res/js/questions.js"></script>
    </head>
    <body>
        
         <!--=============================== NAVIGATION =============================== -->
        <div id="navigation">
            <a href="/"><span id="logo"><script>renderNoodleLogo();</script></span></a>
            <span id="redirect-items">
                <!-- SPECIFIED IN BACKWARDS ORDER (so it can match up on right side)  -->
                {% if logged_in %}
                    <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container"><a class="redirect-text" href="{{logout_url}}" id="sign-in-redirect">{{user_nickname}}</a></div></span>
                    <!-- TODO: Drop down to log out  -->
                {% else %}
                    <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container">
                        <a class="redirect-text" href="{{login_url}}" id="sign-in-redirect">Sign In</a>
                    </div></span>
                {% endif %}
                <!-- TODO: Authentification  -->
                <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container"><a class="redirect-text" href="/wiki" id="wiki-redirect">Wiki</a></div></span>
                <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container"><a class="redirect-text" href="/editor" id="html-editor-redirect">HTML Editor</a></div></span>
                <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container"><a class="redirect-text" href="/share" id="code-share-redirect">Code Share</a></div></span>
                <span class="redirect-item hvr-buzz"><div class="redirect-text-container"><a class="redirect-text" href="/questions" id="active">Questions</a></div></span>
            </span>
        </div>
        <!--=============================== NAVIGATION =============================== -->
        <div class="box">
            <div id="questionsarea">
                <div class = "expand">
                    
                <!--#<label for="question">Question: <input type="text" name="question" /></label> -->
                </div>

                <div class ="visiblequestion">
                    <span class ="recent">
                        <h2>Recent Questions:</h2>
                        {% for question in data["questions"] %}
                        <div class = "question">
                            <p>Q: {{ question.question }}</p>
                        </div>
                        {% endfor %}
                    </span>

                        <h2>Your Questions:</h2>
                        {% for question in data["yourquestions"] %}
                        <div class = "yourquestion">
                            <p>{{ question.question }}</p>
                        </div>
                        {% endfor %}
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>