<html>
    <head>
        <title>Questions</title>
        <link rel="stylesheet" href="/res/css/questions.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/res/js/questions.js"></script>
    </head>
    <body>
         <!--=============================== NAVIGATION =============================== -->
        <div id="navigation">
            <a href="/"><span id="logo"><script>renderNoodleLogo();</script></span></a>
            <span id="redirect-items">
                <!-- SPECIFIED IN BACKWARDS ORDER (so it can match up on right side)  -->
                {% if logged_in %}
                    <span class="redirect-item hvr-bounce-in"><a class="redirect-text" href="{{logout_url}}" id="sign-in-redirect">{{user_nickname}}</a></span>
                    <!-- TODO: Drop down to log out  -->
                {% else %}
                    <span class="redirect-item hvr-bounce-in">
                        <a class="redirect-text" href="{{login_url}}" id="sign-in-redirect">Sign In</a>
                    </span>
                {% endif %}
                <!-- TODO: Authentification  -->
                <span class="redirect-item hvr-bounce-in"><a class="redirect-text" href="/wiki" id="wiki-redirect">Wiki</a></span>
                <span class="redirect-item hvr-bounce-in"><a class="redirect-text" href="/editor" id="html-editor-redirect">HTML Editor</a></span>
                <span class="redirect-item hvr-bounce-in"><a class="redirect-text" href="/share" id="code-share-redirect">Code Share</a></span>
                <span class="redirect-item hvr-bounce-in"><a class="redirect-text" href="/questions" id="questions-redirect">Questions</a></span>
            </span>
        </div>
        <!--=============================== NAVIGATION =============================== -->
        <div id="questions-area">
            <p><input type="button" value="Create a Post"></p>
            <div class = "expand">
                
            </div>
            <div class ="visiblepost">
                <span class ="recent">
                    <h2>Recent Posts:</h2>
                    {% for post in data["posts"] %}
                    <div id = {{ 'post.id'}} class = "card">
                        <h3>{{ post.name }}</h3>
                        {{ post.post }}
                    </div>
                    {% endfor %}
                </span>
                <span class ="yours">
                    <h2>Your Posts:</h2>
                    {% for post in yourpost %}
                    <div id = {{ 'yourpost.id '}} class = "card">
                        <h3>{{ yourpost.name }}</h3>
                        {{ yourpost.question }}
                    </div>
                    {% endfor %}
                </span>
            </div>
        </div>
    </body>
</html>