<html>
    <head>
        <title>Questions</title>
        <link rel="stylesheet" href="/res/css/questions.css">
        <link rel="stylesheet" href="/res/css/nav.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/res/js/questions.js"></script>
        <script src="/res/js/nav.js"></script>
    </head>
    <body>
        
         <!--=============================== NAVIGATION =============================== -->
        <div id="navigation">
            <a href="/"><span id="logo"><script>renderNoodleLogo();</script></span></a>
            <span id="redirect-items">
                <!-- SPECIFIED IN BACKWARDS ORDER (so it can match up on right side)  -->
                {% if logged_in %}
                    <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container"><a class="redirect-text" href="{{logout_url}}" id="sign-in-redirect">{{user_nickname}}</a></div></span>
                    <!-- TODO: Drop down to log out  -->
                {% else %}
                    <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container">
                        <a class="redirect-text" href="{{login_url}}" id="sign-in-redirect">Sign In</a>
                    </div></span>
                {% endif %}
                <!-- TODO: Authentification  -->
                <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container"><a class="redirect-text" href="/wiki" id="wiki-redirect">Wiki</a></div></span>
                <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container"><a class="redirect-text" href="/editor" id="html-editor-redirect">HTML Editor</a></div></span>
                <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container"><a class="redirect-text" href="/share" id="code-share-redirect">Code Share</a></div></span>
                <span class="redirect-item hvr-buzz"><div class="redirect-text-container"><a class="redirect-text" href="/questions" id="active">Questions</a></div></span>
            </span>
        </div>
        <!-- =============================== NAVIGATION =============================== -->
         <!-- <hr>  -->
        <div id="overlay"></div>
        <div class="box">
            <div id="questionsarea">

                <div class ="visiblequestion">
                    <span class ="recent">
                        <script>
                            
                        </script>
                    </span>
                    
                    <span class="yours">
                        <div class = "ask">
                        <img src="/res/img/fsm3d.gif" height='100px' width='100px'>
                        <p>Ask a Question</p>
                        <!--#<label for="question">Question: <input type="text" name="question" /></label> -->
                        </div>
                         <h2 id="your-question-h2">Your Questions:</h2>
                        <div class ="container">
                            
                            {% for question in yourquestions %}
                            <div class = "yourquestion">
                                <p class="question-text">{{ question.question }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>