<html>
    <head>
        <title>Code Share</title>
        <link rel="stylesheet" href="codemirror-5.28.0/lib/codemirror.css">
        <link rel="stylesheet" href="/res/css/nav.css"> 
        <link rel="stylesheet" href="/res/css/share.css"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/res/js/nav.js"></script>
        <script src="/res/js/share.js"></script>
        <script src="codemirror-5.28.0/mode/javascript/javascript.js"></script>
        <script src="codemirror-5.28.0/lib/codemirror.js"></script>
        {% if logged_in %}
            <style>
                #share-main-menu {
                    display: none;
                }

                #code-share-hide {
                    display: block;
                }
            </style>
        {% endif %}
    </head>
    <body>
        <!--=============================== NAVIGATION =============================== -->
        <div id="navigation">
            <a href="/"><span id="logo"><script>renderNoodleLogo();</script></span></a>
            <span id="redirect-items">
                <!-- SPECIFIED IN BACKWARDS ORDER (so it can match up on right side)  -->
                {% if logged_in %}
                    <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container"><a class="redirect-text" href="{{logout_url}}" id="sign-in-redirect">{{user_nickname}}</a></div></span>
                    <!-- TODO: Drop down to log out  -->
                {% else %}
                    <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container">
                        <a class="redirect-text" href="{{login_url}}" id="sign-in-redirect">Sign In</a>
                    </div></span>
                {% endif %}
                <!-- TODO: Authentification  -->
                <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container"><a class="redirect-text" href="/wiki" id="wiki-redirect">Wiki</a></div></span>
                <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container"><a class="redirect-text" href="/editor" id="html-editor-redirect">HTML Editor</a></div></span>
                <span class="redirect-item hvr-buzz"><div class="redirect-text-container"><a class="redirect-text" href="/share" id="active">Code Share</a></div></span>
                <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container"><a class="redirect-text" href="/questions" id="questions-redirect">Questions</a></div></span>
            </span>
        </div>
                <!--=============================== NAVIGATION =============================== -->
            <div class="background-box">
                <div id="share-main-menu">
                    <div class="background-img">
                        <br/>
                        <br/>
                        <br/>
                        <div id="share-intro">
                            <div id="intro-title">
                                <p>Welcome to Noodle's CodeShare</p>
                            </div>
                            <div id="intro-content">
                                <p>CodeShare was built for novice programmers to easily share code with other collaborators.
                                    Each text file is provided with a unique ID so your code will always be open for sharing. 
                                    <br/>No strangers. No restrictions. No rules.
                                </p>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div id="start-button">
                            <input type="button" id="start" value="Get Started">
                        </div>
                    </div>
                </div>
            </div>
            <!-- MAIN MENU -->
            <div id="code-share-hide">
                <div class="background">
                    <span class="left-how-to">
                        <div class ="left-container">
                            <div class= "title">
                                <p>How to Use:</p>
                            </div>
                            <div class ="left-content">
                                <ol>
                                    <li>Copy and paste your code into the textbox
                                    </li>
                                    <br/>
                                    <li>Click the submit button
                                    </li>
                                    <br/>
                                    <li>Copy the link down below
                                    </li>
                                    <br/>
                                    <li>Send the link to your friends!
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </span>
                    <span class="right-textbox">
                        <div class = "container">
                            <form method="post" action="">
                                <br/>   
                                <br/>
                                <textarea name="code" id="code"> {{ shared }} </textarea>
                                <br/>
                        </div>
                        <div id = "button-link">
                                    <input type="button"  id="submit" value="Submit">

                                    <div class ="customLink">
                                    <p id="share-link">Share your code using this link: be-noodley.appspot.com/share?key=</p>
                                    </div>
                                </div>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>