<html>
    <head>
        <title>Wiki</title>
        <!-- <meta charset="UTF-8"> -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link rel="stylesheet" href="/res/css/wiki.css"> 
         <link rel="stylesheet" href="/res/css/nav.css"> 
         <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         <script src="/res/js/wiki.js"></script>
         <script src="/res/js/nav.js"></script>
    </head>
    <body>
        <!--=============================== NAVIGATION =============================== -->
        <div id="navigation">
            <a href="/"><span id="logo"><script>renderNoodleLogo();</script></span></a>
            <span id="redirect-items">
                <!-- SPECIFIED IN BACKWARDS ORDER (so it can match up on right side)  -->
                {% if logged_in %}
                    <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container"><a class="redirect-text" href="{{logout_url}}" id="sign-in-redirect">{{user_nickname}}</a></div></span>
                    <!-- TODO: Drop down to log out  -->
                {% else %}
                    <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container">
                        <a class="redirect-text" href="{{login_url}}" id="sign-in-redirect">Sign In</a>
                    </div></span>
                {% endif %}
                <!-- TODO: Authentification  -->
                <span class="redirect-item hvr-buzz"><div class="redirect-text-container"><a class="redirect-text" href="/wiki" id="active">Wiki</a></div></span>
                <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container"><a class="redirect-text" href="/editor" id="html-editor-redirect">HTML Editor</a></div></span>
                <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container"><a class="redirect-text" href="/share" id="code-share-redirect">Code Share</a></div></span>
                <span class="redirect-item hvr-bounce-in"><div class="redirect-text-container"><a class="redirect-text" href="/questions" id="questions-redirect">Questions</a></div></span>
            </span>
        </div>
        <!--=============================== NAVIGATION =============================== -->
        <div id="wiki">
            <span id="wiki-nav">
                <h1>Insertion Sort</h1>
                <p>Insertion sort is a simple sorting algorithm that builds the final sorted array (or list) 
                    one item at a time. It is much less efficient than other complex algorithms.</p>
            </span>
            <span id="wiki-content">
                <div id="sort-container-outside">
                    <div id="sort-container">
                        <div id="code">
                            <div id="text">
<code class="sort-code ">function insertionSort(array) {</code><br>
<code class="sort-code tab1" id="code1">for(var i = 0; i < array.length; i++) {</code><br>
<code class="sort-code tab2" id="code2">var temp = array[i];</code><br>
<code class="sort-code tab2" id="code3">var j = i - 1;</code><br>
<code class="sort-code tab2" id="code4">while (j >= 0 && array[j] > temp) {</code><br>
<code class="sort-code tab3" id="code5">array[j + 1] = array[j];</code><br>
<code class="sort-code tab3" id="code6">j--;</code><br>
<code class="sort-code tab2" id="code6">}</code><br>
<code class="sort-code tab2" id="code7">array[j + 1] = temp;</code><br>
<code class="sort-code tab1" id="code7">}</code><br>
<code class="sort-code tab1" id="code">return array;</code><br>
<code class="sort-code ">}              </code><br>
                            </div>
                            <div id="input">
                                <br><br><br>
                                <div id="input-bars">
                                    <span>Bars: <span id="bars-value">10</span></span> <br>
                                    <span><input type="range" id="bar-number" step="1" min="5" value="10" max="100"></span>
                                </div>
                                <br>
                                <div id="input-speed">
                                    <span>Speed: <span id="speed-value">5</span></span> <br>
                                    <span><input type="range" id="speed" step=".5" min=".5" value="5" max="1000"></span>
                                </div>
                                
                            </div>
                        </div>
                        <div id="vis">
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </body>
</html>